<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
{% for h in home %}
  <title>{{h.title}}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: MyResume
  * Updated: Jan 09 2024 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
  <i class="bi bi-list mobile-nav-toggle d-lg-none"></i>
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">

    <nav id="navbar" class="navbar nav-menu">
      <ul>
        <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
        <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
        <li><a href="#projects" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Projects</span></a></li>
<!--        <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a></li>-->
        <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->

  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->

  <section id="hero" class="d-flex flex-column justify-content-center" style="background-image: url({{h.back_ground_image.url}})">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>{{h.name}}</h1>
      <p>I'm <span class="typed" data-typed-items="{{h.role}}"></span></p>


      <div class="social-links">
        {% for sm in socialmedias %}
        <a href="{{sm.social_media_link}}" class="{{sm.social_media_type}}"><i class="bx bxl-{{sm.social_media_type}}"></i></a>
        {% endfor %}
      </div>


    </div>
  </section><!-- End Hero -->


  <main id="main">

    <!-- ======= About Section ======= -->
<!--    aboutus for -->
    {% for about in aboutus %}
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
          <p>{{about.about_yourself}}</p>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <img src="{{about.profile_image.url}}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content">
            <h3>{{h.role}}</h3>
<!--            <p class="fst-italic">-->
<!--              {{about.jobdescription}}-->
<!--            </p>-->
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>{{about.date_of_birth}}</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>{{about.email}}</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>{{about.phone}}</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>{{about.degree}}</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>{{about.city}}</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>{{about.age}}</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>{{about.website}}</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Years of Experience:</strong> <span>{{about.years_of_experience}}</span></li>
                </ul>
              </div>
            </div>
<!--            <p>-->
<!--            {{about.briefjobdescription}}-->
<!--            </p>-->
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
    {% endfor %}
<!--    aboutus end for -->

    <!-- ======= Skills Section ======= -->

    <section id="skills" class="skills section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Skills</h2>
<!--          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>-->
        </div>

        <div class="row skills-content">
          {% for skill in skills %}
          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">{{skill.skill_name}}<i class="val">{{skill.percentage}}%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{skill.percentage}}" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>
          {% endfor %}
        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Resume</h2>
<!--          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>-->
        </div>

        <div class="row">
          <div class="col-lg-6">

            <h3 class="resume-title">Education</h3>
            {% for edu in education %}
            <div class="resume-item">
              <h4>{{edu.degree_name}}</h4>
              <h5>{{edu.duration}}</h5>
              <p><em>{{edu.college_name}}</em></p>
<!--              <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p>-->
            </div>
            {% endfor %}

            <h3 class="resume-title">Certificates</h3>
            {% for cer in certificate %}
            <div class="resume-item pb-0">
              <h4>{{cer.certificate_name}}</h4>
              <p><em>{{cer.duration}}</em></p>
              <ul>
                <li>{{cer.center_name}}</li>

              </ul>
            </div>
            {% endfor %}

          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">Professional Experience</h3>
              {% for professional in professionalexperince %}
            <div class="resume-item">
              <h4>{{professional.professional_experince_title}}</h4>
              <h5>{{professional.professional_experince_duration}}</h5>
<!--              <p><em>{{professional.professional_experince_detail}}</em></p>-->

              <ul>
                  {{professional.professional_experince_detail | safe}}
<!--                <li>Lead in the design, development, and implementation of the graphic, layout, and production communication materials</li>-->
<!--                <li>Delegate tasks to the 7 members of the design team and provide counsel on all aspects of the project. </li>-->
<!--                <li>Supervise the assessment of all graphic materials in order to ensure quality and accuracy of the design</li>-->
<!--                <li>Oversee the efficient use of production project budgets ranging from $2,000 - $25,000</li>-->
              </ul>
            </div>
              {% endfor %}

          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Projects Section ======= -->
    <section id="projects" class="portfolio section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Working Projects</h2>
<!--          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>-->
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Mobile Applications</li>
              <li data-filter=".filter-web">Websites</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          {% for projects in workingproject %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-{{projects.categoryname}}">
            <div class="portfolio-wrap">
              <img src="{{projects.project_image.url}}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{projects.project_name}}</h4>
<!--                <p>{{projects.project_overview}}</p>-->
                <div class="portfolio-links">
                  <a href="{{projects.project_image.url}}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="{{projects.project_name}}"><i class="bx bx-plus"></i></a>
                  <a href="projectdetails/{{projects.project_name}}" title="Project Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <div class="row mt-1">
          {% for contact in contactdetails %}
          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>{{contact.address}}</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>{{contact.email}}</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>{{contact.phone}}</p>
              </div>

            </div>
            {% endfor %}

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="{% url 'home' %}" method="post" role="form">
              {% csrf_token %}
              {% for message in messages %}
              <div class="alert alert-success">
              <p>{{message}}</p>
              </div>
              {% endfor %}
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
<!--              <div class="my-3">-->
<!--                <div class="loading">Loading</div>-->
<!--                <div class="error-message"></div>-->
<!--                <div class="sent-message">Your message has been sent. Thank you!</div>-->
<!--              </div>-->
              <div class="text-center">
                <button type="submit" id="contact-btn" style="padding: 10px 35px;;margin:10px;border-radius:20px;background: #0563bb;color: white;border: 0;">
                  Send Message</button>
              </div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->


  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/typed.js/typed.umd.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>


</body>
{% endfor %}
</html>